<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
      {{#if title}}
        {{title}}
      {{else}}
        Kolsås speiderne
      {{/if}}
    </title>

    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    {{{head}}}

  </head>
  <body>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <div class="main">
      <div class="container cntnr">
        <!-- https://getbootstrap.com/docs/4.2/examples/blog/ -->
        <header class="header">
          <!--img src="https://kolsasspeiderne.files.wordpress.com/2012/10/cropped-header-skilt2.jpg" class="header-image"-->
          <h1 class="header-main"><a href="/" class="header-main-link">Kolsås</a></h1>
          KFUK-KFUM speiderne
        </header>

        <nav class="navbar nav">
          <div class="navbar-toggler-bar full-width">
            <div class="d-flex justify-content-between full-width">
              <a class="nav-link p-2 text-muted" href="/Program">Program</a>
              <a class="nav-link p-2 text-muted" href="/Aktivitetskalender">Aktivitetskalender</a>
              <a class="nav-link p-2 text-muted" href="/Speiding">Speiding</a>
              <a class="nav-link p-2 text-muted" href="/Nyttige_lenker">Nyttige lenker</a>
              <a class="nav-link p-2 text-muted" href="/Om_oss">Om oss</a>
              <a class="nav-link p-2 text-muted" href="/kontakt_oss">Kontakt oss</a>
            </div>
          </div>
          <div class="navbar-toggler-dropdown">
            <button class="full-width navbar-toggler navbar-toggler-right text-muted" type="button" data-toggle="collapse" data-target="#navigationbar" aria-controls="navigationbar" aria-expanded="false" aria-label="Toggle navigation">
              Meny
            </button>
            <div class="collapse navbar-collapse" id="navigationbar">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link p-2 text-muted" href="/Program">Program</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link p-2 text-muted" href="/Aktivitetskalender">Aktivitetskalender</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link p-2 text-muted" href="/Speiding">Speiding</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link p-2 text-muted" href="/Nyttige_lenker">Nyttige lenker</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link p-2 text-muted" href="/Om_oss">Om oss</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link p-2 text-muted" href="/kontakt_oss">Kontakt oss</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <main role="main">

          {{{body}}}

        </main>
      </div>

      <footer class="footer">
        <div class="d-flex justify-content-center full-width">
          <a class="nav-link p-2 text-muted" href="/Vilkar">Vilkår for bruk</a>
          <a class="nav-link p-2 text-muted" href="/admin/">Admin</a>
        </div>
        <p class="text-muted">Laget av Theodor Kvalsvik Lauritzen</p>
      </footer>
    </div>

    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- script -->
    <script type="text/javascript" src="../js/script.js"></script>

    {{#each scripts}}
      {{#if src}}
        <script type="text/javascript" src="{{src}}"></script>
      {{else if script}}
        <script type="text/javascript">
          {{script}}
        </script>
      {{/if}}
    {{/each}}
  </body>
</html>
